<div class="actions">
    <mat-form-field class="filter-container">
        <mat-label>Filter grid</mat-label>
        <input matInput placeholder="Ex. ID: xxx" (focusout)="filterGrid($event)"/>
    </mat-form-field>
    <button mat-button (click)="openDialog()">Add
        <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-button color="warn" (click)="deleteTrainee()"
            aria-label="delate row button with a delete icon">
        Delete
        <mat-icon>delete</mat-icon>
    </button>
</div>
<div class="grid-container">
    <ag-grid-angular
                     style="height: 500px;"
                     class="ag-theme-balham"
                     [rowData]="trainees$ | async"
                     [columnDefs]="columnDefs"
                     [rowSelection]="rowSelection"
                     [pagination]="true"
                     [paginationPageSize]="10"
                     (rowSelected)="onRowSelected($event)">
    </ag-grid-angular>
    <div class="details-panel" *ngIf="selectedTrainee">
        <form [formGroup]="editTraineeForm" (ngSubmit)="submit(editTraineeForm)">
            <h2> Edit trainee details </h2>
                <mat-form-field>
                    <mat-label>ID</mat-label>
                    <input matInput formControlName="id">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>date</mat-label>
                    <input type="text" matInput formControlName="date">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>grade</mat-label>
                    <input matInput formControlName="grade" type="number">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>subject</mat-label>
                    <input matInput formControlName="subject">
                </mat-form-field>
            <div mat-dialog-actions>
                <button mat-button type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
