
<div class="analysis-filter">
    <form [formGroup]="filterForm" (ngSubmit)="submit()">
    <mat-form-field appearance="fill">
        <mat-label>Subjects</mat-label>
        <mat-select formControlName="subjects" multiple>
            <mat-option *ngFor="let subject of subjectsList" [value]="subject">
                {{subject}}</mat-option>
        </mat-select>
    </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Ids</mat-label>
            <mat-select formControlName="ids" multiple>
                <mat-option *ngFor="let traineeID of ids" [value]="traineeID">
                    {{traineeID}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button type="submit">Filter</button>
    </form>
</div>
<div cdkDropList
     cdkDropListOrientation="horizontal"
     class="example-list"
     (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let chart of charts" cdkDrag>
        <h2 class="chart-title">{{chart.title}}</h2>
        <canvas baseChart
                [datasets]="chart.datasets"
                [labels]="chart.labels"
                [options]="chart.options"
                [colors]="chart.colors"
                [legend]="chart.legend"
                [chartType]="chart.chartType"
                [plugins]="chart.plugins">
        </canvas>
    </div>
</div>
