.ag-row.low-average {
  background-color: #fcdad88c;
}

.ag-row.high-average {
background-color: #00ffa957;
}
.filter-section{
  display: inline-block;
  margin: 10px 0px;
  mat-checkbox {
    margin: 0 13px;
  }
}