<h2 class="example-h2">Monitor filter</h2>
<section class="example-section">
    <mat-checkbox class="example-margin"
                  [checked]="passedTrainees" (change)="filterData($event.checked , 'Passed')">Passed
    </mat-checkbox>
    <mat-checkbox class="example-margin"
                  [checked]="failedTrainees" (change)="filterData($event.checked, 'Failed')">Failed
    </mat-checkbox>
</section>

<ag-grid-angular
        style="width: 700px; height: 500px;"
        class="ag-theme-balham"
        [rowData]="trainees$| async"
        [columnDefs]="columnDefs"
        [rowClassRules]="rowClassRules"
>
</ag-grid-angular>
